.horizontal {
display: flex;
justify-content: space-around;
align-items: center;
}

#contact {
    margin-right: 100px;
}

.fontspace{
    margin-left: 20px;
    margin-right: 10px;
    color: green;
}

.horizontal li{
    list-style-type: none;
    text-decoration: none;
    margin-right: 40px;
}

#makeAppointmentbtn a{
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

#heroImage{
    position: relative;
    width: 100%;
}

#heroImage img {
    width: 100%;
    height: 600px;
    display: block; 
    object-fit: cover;
}



#heroText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    justify-content: center;
}

#heroText h1{
    font-size: 60px;
}

#heroText p{
    font-size: 20px;
}

#heroText button{
    background-color: royalblue;
    color: white;
    padding: 20px 40px;
    font-size: 30;
    border-radius: 5px;
}

#healthCenter{
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

#healthText{
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    color: black;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

#healthText h2{
    font-size: 40px;
    ;
}

#healthText h3{
    font-size: 20px;
}

#healthTextNeil > div{
   display: flex;
   align-items: center;
}

#healthTextNeil img{
    margin-right: 20px;
}

#healthTextNeil img {
    width: 50px;           
    height: 50px;
    border-radius: 50%; 
    object-fit: cover;     
}

#healthImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    object-position: center 8%;
}

#healthImage{
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 5px;
}

#highlight-h{
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 0 5px;
}

